@model IEnumerable<Car_LoactionV6.Models.Modele>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomMarque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomSerie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomMarque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomSerie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdModel }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdModel }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdModel })
        </td>
    </tr>
}

</table>
